<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }} - Klinikker
  </h1>

  <div *ngIf="loading" class="loader"></div>

  <div *ngIf="data.length > 0">
    <div *ngFor="let item of data; let i = index" class="clickable">
      <div (click)="clickElem($event, item)">
        <h3>{{item.name}}</h3>
        <p>Mon-Fri: {{item.hours.fri}}</p>
        <p>Sat: {{item.hours.sat}}</p>
        <p>Sun: {{item.hours.sun}}</p>

        <div *ngIf="selectedItem === item.id">
          <p>{{item.isOpen ? 'Er åpent nå' : 'Stengt'}}</p>
          <p>Ventetid: {{item.estimatedWaitingTimeInMinutes}} min</p>

        </div>
        <hr width="50%"/>
      </div>
    </div>
  </div>
</div>

